name: freeflow
description: A TikTok client built for Nostr

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 0.1.0+4

environment:
  sdk: ">=3.4.0 < 4.0.0"

dependencies:
  flutter:
    sdk: flutter
  video_player: ^2.9.2
  get_it: ^8.0.3
  cached_network_image: ^3.4.1
  ndk: ^0.2.5
  go_router: ^14.6.3
  flutter_secure_storage: ^9.2.4
  flutter_svg: ^2.0.17
  convert: ^3.1.2
  crypto: ^3.0.6
  wakelock_plus: ^1.2.10

dev_dependencies:
  flutter_launcher_icons: "^0.14.3"
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - "assets/svg/"
    - "assets/logo_512.jpg"

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/logo_512.jpg"
  min_sdk_android: 21
  web:
    generate: true
    background_color: "#000"
    image_path: "assets/logo_512.jpg"
    theme_color: "#000"
  windows:
    generate: true
    image_path: "assets/logo_512.jpg"
    icon_size: 48
  macos:
    generate: true
    image_path: "assets/logo_512.jpg"
